@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

.body{
   font-family: 'Nata Sans, sans-serif',
}
/* index.css */
.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #121212;
  color: white;
}
